<!<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<title>Browse results</title>
	<link rel="stylesheet" href="__cssfile__" />
</head>

<body class="browsePage">
	
	<div class="browseResultsBox">

		<p id="browseStatusText">__status__</p>

		<div id="browseResultsItems">
		</div>

		<div id="browseResultsMore" class="hidden">
			<a href="javascript:window.external.ActionClick('loadMore','')">Load more videos</a>
		</div>

	</div>
	<div id="loading"></div>
</body>

</html>