<!<!DOCTYPE html>
<html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<title>Video Description</title>
	<link rel="stylesheet" href="__cssfile__" />
</head>

<body class="videoDescriptionPanel">
	<div id="description">
		<div id="videoTitle">__title__</div>
		<div id="videoMeta">
			<span class="rating r3 half"></span>
			Posted by
			<a href="javascript:window.external.VideoClick(-1, 'author')">__author__</a>
			&bull;
			<span>__upload_date__</span>
			&bull;
			<span>__viewcount__</span> views
		</div>
		<div id="videoDescription">__description__</div>
	</div>
</body>

</html>