<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YouTube.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YouTube.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YouTube.Settings>
            <setting name="InstanceBaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoPlayer" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableHd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowThumbs" serializeAs="String">
                <value>True</value>
            </setting>
        </YouTube.Settings>
        <YouTube.Properties.Settings>
            <setting name="InstanceBaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoPlayer" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
        </YouTube.Properties.Settings>
    </userSettings>
</configuration>